{{! BLOCK CART PAGE }}

<section class="block-cart-page container-content-width">
    <div class="product-cards">
        <div class="product-item">
            <div class="product-item__image-holder"><img src="images/imgHome/img.png" alt="img" class="product-item__image"></div>
            <div class="product-item__name"><a href="#">goods 1</a></div>
            <div class="product-item__numb">
                    Quantity: 
                    <select name="number" id="zzz">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
            </div>
            <div class="product-item__price">
                <span>$213</span>
                <a href="#">Remove</a>
            </div>
        </div>

        <div class="product-item">
            <div class="product-item__image-holder"><img src="images/imgHome/img.png" alt="img" class="product-item__image"></div>
            <div class="product-item__name"><a href="">goods 2</a></div>
            <div class="product-item__numb">
                    Quantity: 
                    <select name="number" id="zzz">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
            </div>
            <div class="product-item__price">
                <span>$213</span>
                <a href="#">Remove</a>
            </div>
        </div>

        <div class="product-item">
            <div class="product-item__image-holder"><img src="images/imgHome/img.png" alt="img" class="product-item__image"></div>
            <div class="product-item__name"><a href="">goods 2</a></div>
            <div class="product-item__numb">
                    Quantity: 
                    <select name="number" id="zzz">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
            </div>
            <div class="product-item__price">
                <span>$213</span>
                <a href="#">Remove</a>
            </div>
        </div>

        <div class="product-cards-price">Total: 346$</div>
        <div class="product-cards-buttons">
            <button class="product-cards-buttons--button button-item">Button</button>
            <button class="product-cards-buttons--button button-item">Button</button>
        </div>
    </div>

    <div class="basket-summary">
        <div class="basket-summary__all-prod">
            Basket Summary
        </div>
        <div class="basket-summary__num-items">(2 items)</div>
        <div class="basket-summary__lines"></div>  
        <div class="basket-summary__price">$768</div>
        <button class="basket-summary__button button-item">Button</button>
    </div>

</section>