{{! BLOCK FOOTER }}
<footer class="footer">
    <div class="container-content-width">
        <div class="copy-holder">
            <div class="copy-holder__copyright">
                <span class="copyright-text copyright-one-text">Elena ©</span>
                <span class="copyright-text copyright-two-text">copyright 2018 - Unsubscribe here</span>
            </div>
            <div class="copy-holder__social-sites">
                <a href="#"><i class="fa fa-google-plus copy-holder__icon" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook copy-holder__icon" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter copy-holder__icon" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>    
</footer>