{{! BLOCK ITEM PAGE }}
<section class="block-item-page container-content-width">
    <div class="slider-item-page">
        <span class="slider-item-page__name">
            <a class="slider-item-page__go-category">Category 1</a> | goods
        </span>
        {{! реализация слайдера }}
        <div class="slider-item-page__big-image-holder">
            <img src="images/imgHome/img.png" alt="img" class="slider-item-page__big-image">
        </div>
        <div class="slider-item-page__small-image small-image-holder">
            
            <img src="images/imgHome/img.png" alt="img" class="small-image-holder__image">
            <img src="images/imgHome/all.png" alt="img" class="small-image-holder__image">
            <img src="images/imgHome/img.png" alt="img" class="small-image-holder__image">
            <img src="images/imgHome/all.png" alt="img" class="small-image-holder__image">
            <img src="images/imgHome/img.png" alt="img" class="small-image-holder__image">
            <img src="images/imgHome/all.png" alt="img" class="small-image-holder__image">
            <img src="images/imgHome/img.png" alt="img" class="small-image-holder__image">
        </div>
        <div class="slider-item-page__controls">
            <div class="slider-item-page__arrow-left arrow-left"></div>
            <div class="slider-item-page__arrow-right arrow-right"></div>
        </div>
    </div>
    
    {{! описание }}
    
    <div class="description-item-page">
        <div class="description-item-page__name">
            <span class="description-item-page__mark">{{name}}</span>
            ✖✖✖✖✖✖✖✖✖
        </div>
        <div class="description-item-page__description ">{{allDescription}}</div>
        <div class="description-item-page__price">Price: ${{price}}</div>
        <div class="description-item-page__button-holder">
            Quantity: <br>
            <select name="number" id="zzz">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>

            <button class="description-item-page__button button-item">Add to cart</button>
        </div>
        <div class="description-item-page__social-links">
            <a href="#"><i class="description-item-page__icon fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"> <i class="description-item-page__icon fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="description-item-page__icon fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="#"><i class="description-item-page__icon fa fa-vk" aria-hidden="true"></i></a>
        </div>
    </div>
</section>