<!-- BLOCK PAYMENT PAGE -->

<div class="block-payment-page container-content-width">
    <div class="form-payment-page-holder">
        <form action="#" method="post" class="form-payment-page">
            <div class="form-payment-page__front-card front-card-inside">
                <input type="number" name="numberCart" class="front-card-inside__number-cart">
                <div>
                    <input type="number" name="month" class="front-card-inside__month-cart" placeholder="MM">
                    <input type="number" name="year" class="front-card-inside__year-cart" placeholder="YYYY">
                </div>
                <input type="text" name="name" class="front-card-inside__name-cart">
            </div>
            <div class="form-payment-page__back-card">
                <input type="number" class="form-payment-page__number-back-card">
            </div>
            <input type="submit" value="Finish" class="form-payment-page__submit button-item">
        </form>
    </div>
</div>