$main-color: #F5F5F5;
$secondary-color: #37e4da;
/////////////////////////////
$additional-color: #787b80;
$additional-color2: #293139;
/////////////////////////////
$border-color: #E2E3E4;
$nav-color:#d1d0ce;



